In [5]:
from dataset import *

# inspecting dataset

In [2]:
df = load_dataframe("evidence_combined.tsv",["Modified sequence","Retention time","Score","Experiment"])
df.head()

,Modified sequence,Retention time,Score,Experiment
0,_AAAFYVR_,27.308,150.820,TUM_first_pool_1_01_01-2xIT_2xHCD-1h-R1-tryptic
1,_AAAFYVR_,28.402,106.760,TUM_first_pool_1_01_01-2xIT_2xHCD-1h-R1-tryptic
2,_AAIQHPR_,33.415,24.998,TUM_first_pool_1_01_01-2xIT_2xHCD-1h-R1-tryptic
3,_AALHFFNFR_,41.253,211.390,TUM_first_pool_1_01_01-2xIT_2xHCD-1h-R1-tryptic
4,_AALHFFNFR_,41.254,134.810,TUM_first_pool_1_01_01-2xIT_2xHCD-1h-R1-tryptic

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3985 entries, 0 to 3984
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Modified sequence  3985 non-null   object
 1   Retention time     3985 non-null   float64
 2   Score              3985 non-null   float64
 3   Experiment         3985 non-null   object
dtypes: float64(2), object(2)
memory usage: 124.7+ KB

In [3]:
df.describe()

       Retention time        Score
count     3985.000000  3985.000000
mean        38.526259    94.869799
std         14.281559    55.542479
min          9.210600     0.000000
25%         26.439000    50.966000
50%         37.622000    82.305000
75%         52.393000   132.090000
max         60.010000   316.720000

In [4]:
for column in df.columns:
    print(f"{column }: {df[column].duplicated().sum()}")

Modified sequence: 3033
Retention time: 767
Score: 2252
Experiment: 3984